 * { box-sizing: border-box; }

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

section{
    width: 100%;
    height: 100%;
}

.header{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.name{
    font-size: 15px;
    margin-top: 10%;
    margin-left: 5%;
    width: fit-content;
}

.name h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid black; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.occupation{
    margin-left: 11%;
    margin-top: 50px;
    font-size: 15px;
    width: fit-content;
    color: #484646;
}

.about-me{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.contact{
    font-family: 'Roboto Mono', monospace;
    margin-top: 100px;
    margin-left: 5%;
    width: fit-content;
}
.contact a{
    text-decoration: none;
    color: black;
}
.contact a:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (min-width: 600px) {
    .contact { margin-top: 50px; }
    .name{ margin-top: 8%; font-size: 18px; }
}
@media only screen and (min-width: 700px) {
    .contact { margin-left: 60%; }
}
@media only screen and (min-width: 800px) {
    .contact { width: 450px; height: 200px; position: relative;
        margin-left: 45%; margin-top: 70px; }
    .name{ font-size: 2.5vw; margin-top: 80px; }
    .occupation{ font-size: 23px; margin-left:250px; margin-top: 60px; }
    .phone, .email, .find-me, .location{ position: absolute; }
    .phone{ top: 0; left: 0; }
    .email{ top: 0; right: 0; }
    .find-me{ bottom: 22px; left: 0; }
    .location{ bottom: 0; right: 85px; }
    .contact-title{ font-size: 14px; }
    .contact-info {font-size: 18px; }
}

@media only screen and (min-width: 1200px) {
.contact {
    width: 480px;
    height: 230px;
    position: relative;
    margin-left: 55%;
    margin-top: 120px;
}
.name{ margin-top: 80px; }
.occupation{ font-size: 25px; margin-left:400px; margin-top: 50px; }
}

@media only screen and (min-width: 1600px) {
    .contact{ margin-top: 2%; margin-left: 60%; }
}

.contact-title{
    color: grey;
}

/*====================
    ABOUT SECTION
=====================*/
.about-box{
    margin-left: 50px;
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
}

.about{ 
    display: flex;
    flex-direction: column;
}

.about h3{
    font-size: 17px;
    color: grey;
}

.bio-box{
    width: 80%;
    padding-left: 50px;
}
.bio-text, .skills-text{
    font-size: 12px;
    line-height: 16px;
}

.skills-box{
    text-align: right;
    margin-right: 50px;
    margin-top: 30px;
}

@media only screen and (min-width: 600px)  {
    .bio-box{ margin-left: 60px; width: 60%;}
}
@media only screen and (min-width: 800px)  {
    .bio-box{ margin-left: 70px; width: 50%;}
    .skills-box{ margin-right: 100px; }
    .bio-text, .skills-text{ font-size: 13px }
}
@media only screen and (min-width: 1000px)  {
    .about { flex-direction: row; }
    .bio-box{ margin-top: 180px; margin-left: -80px; width: 40%;}
    .skills-box{ margin-left: 130px; margin-top: 360px;}
    .bio-text, .skills-text{ font-size: 16px; line-height: 22px; }
}
@media only screen and (min-width: 1200px)  {
    .skills-box { margin-left: 200px; }
}


/*======================
    PROJECTS SECTION
========================*/
.projects-section{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.project-main{
    text-align: right;
    margin-top: 20px;
    margin-left: 35%;
    font-size: 20px;
    width: fit-content;
    font-family: 'Roboto Mono', monospace;
}

.project-picture{
    top: 60px;
    height: 200px;
    width: 100%;
    margin-top: 5%;
    background-image: url('./Images/NavbarHeader.png');
    background-size: cover;
    background-position: center;
}

.project-title{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 20px;
    /* font-family: 'Chivo', sans-serif; */
}

.project-description{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    line-height: 20px;
    font-size: 13px;
}
.tech-stack{
    font-size: 13px;
    color: grey;
}
.project-description a {
    font-size: 13px;
    text-decoration: none;
    color: grey;
}
.project-description a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.project-link a:hover{
    cursor: pointer;
}

@media only screen and (min-width: 500px)  {
    .project-main{ margin-left: 50%; }
    .project-description{ width: 350px}
}

@media only screen and (min-width: 700px)  {
    .project-main { font-size: 30px; }
    .projects-section{
        display: inline-block;
        position: relative;
    }
    .project-picture{
        margin-left: auto;
        margin-top: 60px;
        height: 370px;
        width: 60%;
    }
    .project-title {
        position: absolute;
        left: 3%;
        top: 160px;
        font-size: 30px;
    }
    .project-description{
        position: absolute;
        left: 3%;
        top: 200px;
        width: 30%;
        font-size: 15px;
        line-height: 22px;
    }
}
@media only screen and (min-width: 1000px)  {
    .project-main { font-size: 3vw; }
    .project-title {
        margin-top: 50px;
        left: 6%;
    }
    .project-description{
        margin-top: 80px;
        left: 6%;
        font-size: 17px;
    }
    .project-description p, .project-description a {
        font-size: 15px;
    }
    .project-picture { height: 380px; }
}
@media only screen and (min-width: 1200px)  {
    .project-main { font-size: 3vw; }
    .project-title {
        margin-top: 80px;
        left: 6%;
    }
    .project-description{
        margin-top: 100px;
        left: 6%;
        font-size: 17px;
    }
    .project-description p, .project-description a {
        font-size: 15px;
    }
    .project-picture { height: 400px; }
}