 * { box-sizing: border-box; }

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

section{
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    width: 100%;
    top: 0;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    z-index: 999
  }
  
nav>div {
    margin: 5px;
    padding: 5px;
}
nav div:hover {
    cursor: pointer;
    color: green;
}

/*======================
      CONTACT SECTION
========================*/
 .header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 8%;
    font-family: 'Roboto Mono', monospace;
}

.name {
    padding-right: 8%;
    padding-top: 10%;
    font-size: 11px;
    width: fit-content;
}
.occupation {
    text-align: right;
    font-size: 10px;
}
.contact {
    padding-top: 10%;
}
.title {
    font-size: 14px;
}
.contact-title{
    color: green;
} 
.contact a{
    color: black;
}
.contact a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.name h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
     white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto;  /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /*Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
/*======================
   END CONTACT SECTION
========================*/



/*====================
    ABOUT SECTION
=====================*/
.about-box{
    margin-left: 50px;
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
}
.about{ 
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 2%;
}

.about h3{
    font-size: 17px;
    color: green;
}

.bio-box{
    width: 80%;
    padding-left: 50px;
}
.bio-text, .skills-text{
    font-size: 12px;
    line-height: 16px;
}

.skills-box{
    text-align: right;
    margin-right: 50px;
    margin-top: 30px;
}

@media only screen and (min-width: 600px)  {
    .bio-box{ margin-left: 60px; width: 60%;}
}
@media only screen and (min-width: 800px)  {
    .bio-box{ margin-left: 70px; width: 50%;}
    .skills-box{ margin-right: 100px; }
    .bio-text, .skills-text{ font-size: 13px }
}
@media only screen and (min-width: 1000px)  {
    .about { flex-direction: row; }
    h1 { margin-left: 80px;}
    .bio-box{ margin-top: 180px; margin-left: -150px; width: 40%;}
    .skills-box{ margin-left: 130px; margin-top: 360px;}
    .bio-text, .skills-text{ font-size: 16px; line-height: 22px; }
}
@media only screen and (min-width: 1200px)  {
    .skills-box { margin-left: 200px; }
}
/*====================
   END ABOUT SECTION
=====================*/


/*======================
    PROJECTS SECTION
========================*/
.projects {
    display: flex;
    flex-direction: column;
}
.project-main{
    text-align: right;
    margin-top: 20px;
    padding-right: 10%;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
.projects-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}
.project1-picture, .project2-picture, .project3-picture{
    width: 100%;
    height: auto;
}
.project-right-title{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 20px;
}
.project-right-description{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    line-height: 20px;
    font-size: 13px;
}
.tech-stack{
    font-size: 13px;
    color: grey;
}
.project-right-description a {
    font-size: 13px;
    text-decoration: none;
    color: grey;
}
.project-right-description a:hover {
    cursor: pointer;
    color: green;
}
.project-right-link a:hover{
    cursor: pointer;
}

.project-left {
    padding-top: 10%;
}
.project-left-title {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 20px;
}
.project-left-description {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    line-height: 20px;
    font-size: 13px;
}
.project-left-description a {
    font-size: 13px;
    text-decoration: none;
    color: grey;
}
.project-left-description a:hover {
    cursor: pointer;
    color: green;
}
.project-left-link a:hover{
    cursor: pointer;
}

/*======================
   END PROJECTS SECTION
========================*/

/*======================
      MEDIA QUERIES
========================*/
@media(min-width: 600px) {
    .name { padding-top: 5%; font-size: 22px;}
    .occupation { text-align: center;}
}

@media(min-width: 700px) {
    .project-right{
        display: flex;
        flex-direction: row-reverse;
    }
    .project-main {
        font-size: 30px;
        padding-right: 25%;
    }
    .project-right-info {
        flex-direction: column;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 5%;
    }
    .project-right-description, .project-left-description {
        font-size: 15px;
    }

    /* left side project */
    .project-left {
        display: flex;
        padding-top: 18%;
    }
}

@media (min-width: 720px) {
    .header {
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .contact-wrapper { 
        margin-top: 8%;
    }
   .contact {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        flex: 50%;
        text-align: right;
   }
   .phone {
       flex: 50%;
       width: fit-content
   }
   .email {
        flex: 50%;
        text-align: right;
        width: fit-content
   }
   .location {
       flex: 50%;
       width: fit-content
   }
   .find-me {
        flex: 50%;
        text-align: right;
        width: fit-content
   }
   .info, .find-me a { 
       font-size: 18px; 
    }
}

@media(min-width: 1000px) {
    .name-occupation { 
        width: 60%;
    }
    .name { 
        font-size: 30px; 
    }
    .occupation { 
        font-size: 25px; 
        padding-right: 8%;
    }
    .contact { 
        padding-top: 0;
    }
    .about { 
        padding-bottom: 10%;
    }
    .project-right-title, .project-left-title {
        font-size: 25px;
    }
    .project-left { 
        padding-top: 10%; 
    } 
   
    .project-right-description, .project-left-description {
        font-size: 18px;
        line-height: 25px;
    }
    .project-left-info {
        flex-direction: column;
        padding-left: 8%;
        padding-right: 3%;
        padding-top: 3%;
    }
}
/* 
@media(min-width: 1300px) {
    .project-right {
        margin-top: 500px;
    }
} */
/*======================
    END MEDIA QUERIES
========================*/





