 * { box-sizing: border-box; }

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

section{
    width: 100%;
    height: 100%;
}

.header{
    border: 1px solid red;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.name{
    font-size: 15px;
    margin-top: 10%;
    margin-left: 5%;
}

.occupation{
    margin-left: 11%;
    margin-top: 50px;
    font-size: 15px;
    width: fit-content;
}

.about-me{
    border: 1px solid orange;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.contact{
    font-family: 'Roboto Mono', monospace;
    margin-top: 100px;
    margin-left: 5%;
    width: fit-content;
}
@media only screen and (min-width: 600px) {
    .contact { margin-top: 50px; }
    .name{ margin-top: 8%; font-size: 18px; }
}
@media only screen and (min-width: 700px) {
    .contact { margin-left: 60%; }
}
@media only screen and (min-width: 800px) {
    .contact { width: 450px; height: 200px; position: relative;
        margin-left: 50%; margin-top: 60px; }
    .name{ font-size: 25px; margin-top: 80px; }
    .occupation{ font-size: 23px; margin-left:250px; margin-top: 60px; }
    .phone, .email, .find-me, .location{ position: absolute; }
    .phone{ top: 0; left: 0; }
    .email{ top: 0; right: 0; }
    .find-me{ bottom: 22px; left: 0; }
    .location{ bottom: 0; right: 85px; }
    .contact-title{ font-size: 14px; }
    .contact-info {font-size: 18px; }
}

@media only screen and (min-width: 1200px) {
.contact {
    width: 480px;
    height: 230px;
    position: relative;
    margin-left: 55%;
    margin-top: 120px;
}
.name{ margin-top: 80px; }
.occupation{ font-size: 25px; margin-left:400px; margin-top: 50px; }
}

@media only screen and (min-width: 1600px) {
    .contact{ margin-top: 2%; margin-left: 60%; }
}

.contact-title{
    color: grey;
}

/*====================
    ABOUT SECTION
=====================*/
.about-box{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
}

.about{ 
    display: flex;
    flex-direction: column;
}

.about h3{
    font-size: 17px;
    color: grey;
}

.bio-box{
    width: 80%;
    padding-left: 50px;
}
.bio-text, .skills-text{
    font-size: 12px;
}

.skills-box{
    text-align: right;
    margin-right: 50px;
    margin-top: 60px;
}

@media only screen and (min-width: 600px)  {
    .bio-box{ margin-left: 60px; width: 60%;}
}
@media only screen and (min-width: 800px)  {
    .bio-box{ margin-left: 70px; width: 50%;}
    .skills-box{ margin-right: 100px; }
    .bio-text, .skills-text{ font-size: 13px }
}
@media only screen and (min-width: 1000px)  {
    .about { flex-direction: row; }
    .about-box { margin-top: 20px}
    .bio-box{ margin-top: 180px; margin-left: -80px; width: 40%;}
    .skills-box{ margin-left: 130px; margin-top: 320px;}
    .bio-text, .skills-text{ font-size: 16px }
}
@media only screen and (min-width: 1200px)  {
    .skills-box { margin-left: 200px; }
}


/*======================
    PROJECTS SECTION
========================*/
.projects-section{
    position: relative;
    border: 1px solid green;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.project-description, .project-title, .project-picture, .project-main{
    position: absolute;
    border: 1px solid black;
}

.project-picture{
    top: 80px;
    height: 200px;
    width: 100%;
    margin-top: 80px;
}

.project-title{
    bottom: 160px;
    left: 30%;
}

.project-description{
    bottom: 120px;
    left: 20%;
    width: 200px;
}

.project-main{
    border: 1px solid black;
    right: 50px;
    width: fit-content;
    margin-top: 50px;
    flex: 1;
    font-size: 30px;
}



